/* styles.css */

body {
    
    background-color: #333;

    color: white;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    border:1px solid red;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.input-section, .list-section {
    margin: 20px 0;
  
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

#btn {
    /* display: block; */
    width: 50%;
    /* height: 20px; */
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
    font-size: 15px;


}

button:hover {
    background-color: darkgreen;
    transform: scale(1.04);
    transition: 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
}

td {
    background-color: #444;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: darkred;
}

.list-section{
    display: flex;
    justify-content: space-between;
    /* border:1px solid green; */
    align-items: center;
    /* border-radius: 10px; */
    width:100%
}